/* EditProfile.css */
.edit-profile-container {
    padding: 20px;
  }
  
  .profile-form {
    width: 25px; /* Adjust the width as needed */
     height: 25px; /* Adjust the height to maintain aspect ratio */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .profile-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-form button:hover {
    background-color: #218838;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }
  